<div class="row marketing">
    <h2>Weiterführende Literatur</h2>
    <h4>CSS, HTML Templating</h4>
    <ul>
        <li class="text-primary">https://www.youtube.com/watch?v=hQVTIJBZook</li>
        <li class="text-muted">http://selfhtml.org/ - html</li>
        <li class="text-muted">http://getbootstrap.com/ - bootstrap </li>
        <li class="text-muted">https://angular-ui.github.io/bootstrap/ - bootstrap UI</li>
        <li>http://www.sitepoint.com/bem-smacss-advice-from-developers/ - BEM CSS Convention</li>
    </ul>
    <h4>Packagemanagement: Grunt, Yeoman, Bower</h4>
    <ul>
        <li class="text-muted">http://bower.io/ - Packagemanagement Frontend</li>
        <li class="text-muted">https://www.npmjs.com/ - Packagemanagement Frontend</li>
        <li class="text-muted">http://gruntjs.com/getting-started - Taskrunner</li>
        <li>http://www.sitepoint.com/kickstart-your-angularjs-development-with-yeoman-grunt-and-bower/ - yeoman example for angular</li>
    </ul>
    <h4>Angular Best Practices von scotch.io</h4>
    <ul>
        <li class="text-primary">https://scotch.io/tutorials/making-skinny-angularjs-controllers</li>
        <li>https://scotch.io/tutorials/angularjs-form-validation</li>
        <li class="text-muted">https://github.com/johnpapa/angular-styleguide</li>
    </ul>
    <h4>Sublime</h4>
    <ul>
        <li class="text-muted">https://scotch.io/tag/sublime-text - &lt;3 scotch</li>
    </ul>
</div>
