
<div class="row marketing">
  <h2>Weiterführende Literatur</h2>
  <h4>CSS, HTML Templating</h4>
  <ul>
    <li>http://getbootstrap.com/</li>
    <li>https://angular-ui.github.io/bootstrap/</li>

</ul>
<ul>
    <li>http://www.sitepoint.com/kickstart-your-angularjs-development-with-yeoman-grunt-and-bower/</li>

  </ul>
  <h4>Angular Best Practices von scotch.io</h4>
  <ul>
  <li>https://scotch.io/tutorials/making-skinny-angularjs-controllers</li>
  <li>https://scotch.io/tutorials/angularjs-form-validation</li>

  </ul>
<ul>
  <li>https://scotch.io/tag/sublime-text</li>
  </ul>
</div>
