<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>States</h1>
            <p class="lead">
                Controller’s responsibility should be to communicate between services and the view. Its main concern should be view-model logic.
            </p>
            <p>Aim to make your controllers skinny, as well as the rest of your application, by separating out view logic and business logic into controllers and services, respectively, and by taking advantage of routes and resolves.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>StateRouter parameters for loading the Controller right.</h3>
            <p>Using resolve in UI-router($stateProvider) is powerful, because it allows you to provide your controller with data before it gets loaded</p>
            <h5>routes/MainRoutes.js</h5>
            <pre><code class="javascript">
$stateProvider.state('frontend.controller', {
       url: '/controller',
       templateUrl: 'views/frontend.controller.html',
       controller: 'GoatsCtrl',        // Referring to the controller
       controllerAs: 'goats',          // Binding the controller to a specific variable

       // Promises that will be resolved before the State is changed
       resolve: {
           // load all the available goats form the GoatsService
           goats: ['GoatsService',
               function(GoatsService) {
                   return GoatsService.getGoats();
               }
           ],
           // The Controllers expects a promise for a single goat,
           goat: function() {
               return {};
           },
           // This a the Service that generates the Breadcrumbs for this Tutorial.
           addBreadCrumb: function(BreadCrumbService) {
               BreadCrumbService.add('frontend.main', 'Frontend');
               BreadCrumbService.add('frontend.controller', 'Controller');
           }
       },
   });
            </code></pre>
        </div>
    </div>
</div>

<script>
// Bad Practice!
$(document).ready(function() {
    $('pre code').each(function(i, block) {
        hljs.highlightBlock(block);
    });
});
</script>
