<div class="jumbotron">
    <h1>Moin, Moin</h1>
    <p class="lead">
    <p>Best Practices und Anleitungen für die folgenden Technologien.</p>
        <img src="images/angular.png" alt="AngularJS" style="width: 200px; height: auto;">
        <img src="images/bootstrap.png" alt="AngularJS" style="width: 200px; height: auto;">
        <img src="images/express.png" alt="AngularJS" style="width: 200px; height: auto;">
        <img src="images/mocha.png" alt="AngularJS" style="width: 200px; height: auto;">
    </p>
</div>
<h1>Agenda</h1>
<ul>
    <li>Frontend
        <ul>
            <li>Angular
                <ul>
                    <li>Controller</li>
                    <li>States</li>
                    <li>Services</li>
                    <li>Views</li>
                    <li>Directives</li>
                    <li>Filter</li>
                </ul>
            </li>
            <li>Boostrap, Templating</li>
        </ul>
    </li>
    <li>Backend
        <ul>
            <li>Express
                <ul>
                    <li>Routes</li>
                    <li>Controller</li>
                    <li>Node.js</li>
                </ul>
            </li>
            <li>Node.js</li>
            <li>Mocha</li>
        </ul>
    </li>
    <li>Sublime</li>
</ul>
