<div class="jumbotron">
    <h1>Moin, Moin</h1>
    <p class="lead">
    <p>Best Practices und Anleitungen für die folgenden Technologien.</p>
        <img src="images/angular.png" alt="AngularJS" style="width: 200px; height: auto;">
        <img src="images/bootstrap.png" alt="AngularJS" style="width: 200px; height: auto;">
        <img src="images/express.png" alt="AngularJS" style="width: 250px; height: auto;">
        <!-- <img src="images/mocha.png" alt="AngularJS" style="width: 250px; height: auto;"> -->
    </p>
</div>
<h1>Agenda</h1>
<ul>
    <li><a ui-sref='frontend.main'>Frontend</a>
        <ul>
            <li><a ui-sref='about'>Angular</a>
                <ul>
                    <li><a ui-sref='frontend.controller'>Controller</a></li>
                    <li><a ui-sref='frontend.states'>States</a></li>
                    <li><a ui-sref='frontend.services'>Services</a></li>
                    <li><a ui-sref='frontend.views'>Views</a></li>
                    <li><a ui-sref='frontend.directives'>Directives</a></li>
                    <li><a ui-sref='frontend.filter'>Filter</a></li>
                </ul>
            </li>
            <li><a ui-sref='about'>Boostrap, Templating</a></li>
        </ul>
    </li>
    <li><a ui-sref='about'>Backend</a>
        <ul>
            <li><a ui-sref='about'>Node.js</a></li>
            <li><a ui-sref='about'>Express</a>
                <ul>
                    <li><a ui-sref='about'>Routes</a></li>
                    <li><a ui-sref='about'>Controller</a></li>
                </ul>
            </li>
            <li><a ui-sref='about'>Mocha</a></li>
        </ul>
    </li>
    <li><a ui-sref='about'>Sublime</a></li>
</ul>
